# An Analysis of Employee Attrition in a Company
## Business Understanding - IBM HR Analytics Dataset

In [6]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [7]:
import pandas as pd

In [8]:
from google.colab import drive

### Kegunaan kode ini yaitu untuk mengimport data drive ke google colab

In [9]:
drive.mount('/content/drive')

Mounted at /content/drive

In [10]:
path = '/content/drive/MyDrive/WA_Fn-UseC_-HR-Employee-Attrition.csv'

In [11]:
df = pd.read_csv(path)

In [12]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

# **Business Understanding**

Business Understanding adalah tahap awal dalam memproses analisis data, yang bertujuan untuk memahami permasalahan bisnis, kondisi dataset, dan menentukan arah analisis yang akan dilakukan.

di tahap Business Understanding, fokus utama adalah memahami konteks masalah employee attrition (PenguranganKaryawan) dalam perusahaan serta merumuskan tujuan analisis berdasarkan dataset yang dipilih.

# **1. Business Objective**

Dataset ini berisi informasi tentang karyawan dalam sebuah perusahaan, termasuk data demografis, jabatan, pendapatan, pengalaman kerja, serta status Attrition (keluar atau tetap bekerja).

Masalah utama yang ingin diketahui dari dataset ini ialah fenomena employee attrition, yaitu kondisi dimana ketika karyawan memilih untuk keluar dari sebuah perusahaan.

Attrition merupakan permasalahan penting bagi perusahaan. mengapa sangat penting karena dapat meningkatkan biaya anggaran rekrutmen, pelatihan, serta menurunkan produktivitas dan stabilitas perusahaan.

Tujuan bisnis dari analisis ini adalah memahami faktor-faktor yang berkaitan dengan attrition supaya perusahaan dapat mengurangi tingkat turnover dan meningkatkan retensi karyawan.

# **2. Assess Situation**

Dataset IBM HR Analytics terdiri dari 1470 baris dan 35 kolom, dengan kombinasi data numerik dan kategorikal.

Beberapa kondisi dataset:
- Target variabel adalah Attrition (Yes/No)
- Ada berbagai fitur seperti: Age, JobRole, MonthlyIncome, OverTime, YearsAtCompany, dan lainnya
- Dataset tidak memiliki missing value berdasarkan deskripsi sumber Kaggle

Tantangan yang mungkin dihadapi:
1. Banyaknya fitur yang dapat membuat analisis menjadi kompleks
2. Data kategorikal perlu dipahami sebelum dianalisis lebih lanjut
3. Distribusi Attrition tidak seimbang (lebih banyak yang tidak resign dibanding yang resign)
4. Perlu memahami hubungan antar variabel untuk mendapatkan insight yang relevan

#  **3. Analytic Goals**

Untuk mengatasi permasalahan attrition, analisis akan difokuskan pada:

1. Mengidentifikasi variabel yang berpotensi mempengaruhi attrition
2. Menganalisis hubungan antara faktor demografis dan attrition
3. Menganalisis pengaruh faktor pekerjaan seperti OverTime, JobRole, dan MonthlyIncome terhadap attrition
4. Menemukan pola umum karakteristik karyawan yang resign

Hasil analisis diharapkan dapat memberikan insight yang bisa digunakan untuk strategi retensi karyawan.

# **4. Project Plan**

Rencana yang dilakukan dalam proyek ini adalah:

1. Memahami struktur dataset dan tipe data
2. Melakukan eksplorasi awal untuk memahami distribusi data
3. Melakukan analisis hubungan antara fitur dengan Attrition
4. Menyusun insight berdasarkan hasil eksplorasi data
5. Menyimpulkan temuan dan memberikan rekomendasi berbasis data